.Back-Button {
  -fx-background-color: #d0d0d0;
  -fx-background-radius: 30;
}
.Back-Button:hover {
  -fx-cursor: hand;
}

.button3 {
  -fx-background-color: linear-gradient(to top left, #35acf1, #f6b46f);
  -fx-background-radius: 12;
  -fx-border-style: solid;
  -fx-border-radius: 12;
  -fx-border-insets: -5;
  -fx-border-color: linear-gradient(to top left, #35acf1, #f6b46f);
}
.button3:hover {
  -fx-background-color: linear-gradient(to top left, #f6b46f, #35acf1);
  -fx-background-radius: 12;
  -fx-border-style: solid;
  -fx-border-radius: 12;
  -fx-border-insets: -5;
  -fx-border-color: linear-gradient(to top left, #f6b46f, #35acf1);
}
.button3:pressed {
  -fx-background-color: linear-gradient(to top left, #35acf1, #f6b46f);
  -fx-background-radius: 12;
  -fx-border-style: solid;
  -fx-border-radius: 12;
  -fx-border-insets: -5;
  -fx-border-color: linear-gradient(to top left, #35acf1, #f6b46f);
}

.statut-accomplishement {
  -fx-background-color: #35acf1;
  -fx-background-radius: 30;
}
