.profile-input {
  -fx-background-color: #00002c;
  -fx-border-width: 1;
  -fx-border-radius: 30px;
  -fx-border-color: #f7a579;
}

.selected-border {
  -fx-border-color: #fff;
  -fx-border-width: 0 3 0 0;
}

.selected:hover {
  -fx-background-color: #3c3d58;
  -fx-cursor: pointer;
}
